.header{
  margin-top: 8px;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 2em;
}
.Intro {
  background-color: aliceblue;
  width: 75%;
  font-family: "JetBrains Mono",monospace;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
}
.Home {
  background-color: aliceblue;
  width: 55%;
  font-family: "JetBrains Mono",monospace;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 22px;

}
.companyname{
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "JetBrains Mono",monospace;
  font-size: 22px;

}

.companynameheader{
  font-family: Sans-Serif;
  font-weight: bold;
  font-size: 2em;
}
.companyabout{
  margin-top: 10%;
}
.profile {

  width: 85%;
  font-family: "JetBrains Mono",monospace;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  
  justify-content: space-around;

}
.profileabout{
  padding: 5%;
  width: 250px;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  /* margin-right: 2%; */
  /* max-width : 42%; */
  /* height: auto; */
}


.profileabout2{
  max-width: 300px;

}
.createpost {
  padding: 5%;
  border-style: dashed;
  display: flex;
  flex-direction: column;
}
.profilevote{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 500px;
  
  /* margin: auto; */
}

.vote{
  margin-bottom: 20px ;
  display: flex;
  flex-direction: column;
}
.votebutton{
  padding: 10px;
  border: dashed;
  background: none;
  /* width: 95%; */
}
.homeform{
  display: flex;
  flex-direction: column;
}
.introheader {
  font-weight: bold;
}
.introabout {
  margin: 2%;
}
.introbuttondiv {
  display: flex;
  justify-content: space-around;
  font-family: "JetBrains Mono",monospace;
  font-size: 24px;
  align-items: baseline

}

.homeheaderbutton {
  padding: 0;
  border: none;
  background: none;
  

}
.homeheader {
margin-top: 8px;
margin-right: 20px;
margin-left:7% ;  
/* margin: auto; */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* justify-content: center; */
  font-family: Sans-Serif;
  font-weight: bold;
}
.votebutton2{
  border: dashed;
  background: none;
  /* width: 85%; */
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profilevotemain{
  display: flex;
}
.profilevoteright {
  display: flex;
  flex-direction: column;
  margin:2% ;
  justify-content: space-between;
  height: 200px;
}
.profilevoteleft {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.progress {
  width:200px;
  height:50px;
  border:1px solid black;
  position:relative;
}
.progress:after {
  content:'\A';
  position:absolute;
  background:green;
  top:0; bottom:0;
  left:0; 
  width:70%;
}

.voteimage {
  max-width : 70px;
}
.voteimage2 {
  max-width : 50px;
}
.header:hover {
  font-size: 2.1em;
  color: #484958;
}
.gobackbutton {
  display: flex;
  justify-content: end;
  width: 97%;
  margin-bottom: 40px;
  margin-top: 10%;
}
.homemain{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.button-40 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(5, 5, 6, 0.4) 0 0.1px 0.1px,rgba(45, 35, 66, 0.3) 0 0px 1px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-40:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-40:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-40:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff726f;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: forestgreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px forestgreen;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
